.titleBlock {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    width: 100%;
    background-color: rgb(10,110,178);
    color: white;
    height: 50px;
    text-align: center;
}

.imgProfile {
    width: 140px;
    height: 140px;
    border: 1px solid #b4b4b4;
    margin-top: 10px;
}

.pNameStyle {
    padding-top: 10px;
    font-weight: bold;
}

.titleBlock p {
    width: 100%;
    padding-top: 10px;
    font-family: Arial,Helvetica, Sans-Serif;
    margin-right: 30px;
}

.noDate {
    display: inline-block;
    margin-left: 38%;
    margin-top: 16%;
    font-size: 18px;
}

.dateLine {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin-top: 20px;
    width: 949px;
    height: 200px;
    background-image: radial-gradient(white, #e6e6e6 );
    text-align: center;
}

.presentationDiv {
    float: left;
    width: 220px;
    height: 200px;
    border-right: 1px solid #c2c2c2;
}

.detailsDiv {
    font-size: 16px;
    height: 200px;
    width: 442px;
    display: table;
    float: left;
    border-right: 1px solid #c2c2c2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 442px;
}

.divButtonArea {
    height: 200px;
    width: 285px;
    display: table;
}

.buttonFashionDeleteInv {
    padding-right: 5px;
    background-color: #cf2424;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    height: 30px;
    min-width: 160px;
    transition-duration: 0.4s;
    margin-top: 80px;
}

.buttonFashionDeleteInv:hover {
    background-color: #5e0a0a;
    color: white;
}

.pDateLocation {
    padding-top: 5px;
}

.pDateTimeDate {
    padding-top: 5px;
}

.pDateDescription {
    padding-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 442px;
}

.presentationDiv a {
    text-decoration: none;
    color: blue;
}

    .presentationDiv a:visited {
        text-decoration: none;
        color: blue;
    }