.buttonFashion {
    background-color: #ef7d10;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    height: 30px;
    transition-duration: 0.4s;
}

.buttonFashion:hover {
    background-color: #a55609;
    color: white;
}

.inputFashion {
    border-radius: 4px;
    border: 1px solid #ef7d10;
    text-align:center;
}

.titleFashion {
    margin-left:46px;
    margin-top: 100px;
    width: 65%;
    border: 3px solid #73AD21;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}