.imgGallery {
    height: 300px;
    width: 300px;
}

.contentBorder {
    display: inline;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    min-height: 710px;
    min-width: 910px;
}

.imageBlock {
    float: left;
    margin: auto;
    width: 300px;
    height: 350px;
    margin-left: 12px;
    margin-top: 12px;
}

.clearArea {
    clear: both;
}

.allContent {
    display: inline;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.noPcText {
    margin-top: 190px;
    font-size: 18px;
}

.titleBlock {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 25px;
    width: 100%;
    background-color: rgb(10,110,178);
    color: white;
    height: 50px;
    text-align: center;
}

.titleBlock p {
    width: 100%;
    padding-top: 10px;
    font-family: Arial,Helvetica, Sans-Serif;
    margin-right: 30px;
}